*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    font-size: larger;
}
.game{
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gameboard{
    height: 400px;
    width: 400px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.square{
    height: 50px;
    width: 50px;
    position: relative;
}

.brown{
    background-color: rgb(55, 116, 55);
}

.beige {
    background-color: rgb(220, 220, 155);
}

.square svg{
    height: 40px;
    width: 40px;
    margin: 5px;
    position: relative;
    z-index: -9;
}
path{
    position: relative;
    z-index: -10;
}
.piece{
    position: relative;
    z-index: 9;
}
.black{
    fill: rgb(27, 24, 24);
}
.white{
    fill: rgb(251, 251, 251);
}